* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

.main {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.main > .header{
	background-color: gray;
}

.header > h1 {
	text-align: center;
}

.content {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
